h4 sup {
    font-size: 0.65em !important; 
    vertical-align: baseline; 
    position: relative; 
    top: -0.19em !important;
}

.graphs {
    display: flex;
    justify-content: space-between;
    margin-bottom: 50px;
}

.graph-holder {
    width: 550px;
    height: 475px !important;
    position: relative;
    overflow: hidden;
}

.graph-holder p {
    font-size: 24px;
}

.graph-holder h4 {
    font-family: "Chathura", sans-serif;
    font-size: 86px;
    line-height: 0;
    padding: 0;
    margin: 0 0 25px 0;
}

.graph-holder h3 {
    font-size: 34px;
    font-family: "Gilroy", sans-serif;
}

.graph-holder div {
    position: absolute;
}


.hand {
    width: 105px;
    right: 33px;
    bottom: 8px;

}
.hand img {
    width: 100%;
    height: auto;
    transform: rotate(-29deg);
}
.graph {
    width: 318px;
    left: -169px;
    bottom: -169px;
}
.animation {
    width: 318px;
    animation: moveGraph 2s linear 1;
    left: 211px;
    bottom: 150px;
    rotate: 0deg;
}
@keyframes moveGraph {
    0% {
        left: -169px;
        bottom: -169px;
        rotate: -240deg;
    }
    50% {
        left: 211px;
        bottom: 150px;
        rotate: 0deg;
    }
    100% {
        left: 211px;
        bottom: 150px;
        rotate: 0deg;
    }
}

.graph img {
    width:100%;
    height: auto;
}
.thumb {
    width: 59px;
    right: 86px;
    bottom: 153px;


}
.thumb img {
    width: 100%;
    height: auto;
    transform:rotate(-29deg);
}
.note {
    bottom: 4px;
    
}

.title {
    top: -41px;
}

.num1 {
    top: 110px;
    left: 375px;
}

.num2 {
    top: 120px;

}

.num3 {
    top: 258px;
}


.line-1 {
    border-top: 1px solid var(--dark-text);
    width: 73px;
    position: absolute;
    left: 130px;
    top: 45px;
}

.line-1-fr {
    border-top: 1px solid var(--dark-text);
    width: 98px;
    position: absolute;
    left: 103px;
    top: 45px;
}

.line-2a {
    border-top:  1px solid var(--dark-text);
    width: 22px;
    position: absolute;
    left: 160px;
    top: 45px;

}
.line-2b {
    border-top: 1px solid var(--dark-text);
    border-left: 1px solid var(--dark-text);
    width: 22px;
    height: 93px;
    position: absolute;
    left: 182px;
    top: -48px;

}
.line-3a {
    border-top: 1px solid var(--dark-text);
    width: 50px;
    position: absolute;
    left: 130px;
    top: 45px;
}
.line-3a-fr {
    border-top: 1px solid var(--dark-text);
    width: 77px;
    position: absolute;
    left: 103px;
    top: 45px;
}
.line-3b {
    border-bottom:  1px solid var(--dark-text);
    border-left: 1px solid var(--dark-text);
    width: 28px;
    height: 38px;
    position: absolute;
    left: 179px;
    top: 46px;

}
.line-4a {
    border-top:  1px solid var(--dark-text);
    width: 20px;
    position: absolute;
    left: 160px;
    top: 45px;

}
.line-4b {
    border-top:  1px solid var(--dark-text);
    border-left: 1px solid var(--dark-text);
    width: 28px;
    height: 83px;
    position: absolute;
    left: 179px;
    top: -38px;


}

.stats {
    opacity: 0;
}
.fadeIn {
    animation: fadeIn 4s linear 1 !important;
    opacity: 1.0;
}

@keyframes fadeIn {
    0% {
        opacity: 0.0;

    }
    25% {
        opacity: 0.0;

    }
    100% {
        opacity: 1.0;
    }
}


@media only screen and (max-width:1368px) {
    .graph-holder {
        width: 480px;
        height: 415px !important;
    }

    .graph-holder p {
        font-size: 20px;
    }

    .graph-holder h3 {
        font-size: 28px;
    }
    .graph-holder h4 {
        font-size: 74px;

    }

    .hand {
        width: 80px;
        right: 33px;
        bottom: 8px;
    
    }

    .graph {
        width:280px;
        left: 181px;
        bottom: 100px; 
        /* display: none; */
       
    }
    @keyframes moveGraph {
        0% {
            left: -318px;
            bottom: -318px;
            rotate: -240deg
        }
        40% {
            left: 181px;
            bottom: 100px;
            rotate: 0deg;
        }
        100% {
            left: 181px;
            bottom: 100px;
            rotate: 0deg;
        }
    }
    .thumb {
        width: 45px;
        right: 73px;
        bottom: 114px; 
    }
    .title {
        top: 0;
    }
    .num1 {
        left: 325px;
        top: 128px;
    }
    .line-1 {
        width: 63px;
        left: 110px;
    }
    
    .line-2a {
        width: 22px;
        left: 135px;
        top: 42px
    }
    .line-2b {
        width: 22px;
        height: 96px;
        left: 157px;
        top: -54px;
    }
    .line-3a {
        width: 40px;
        position: absolute;
        left: 110px;
        top: 42px
    }
    .line-3b {
        width: 28px;
        left: 149px;
        top: 42px;
    }
    .line-4a {
        border-top:  1px solid var(--dark-text);
        width: 15px;
        position: absolute;
        left: 135px;
        top: 42px
    }
    .line-4b {
        width: 28px;
        height: 85px;
        position: absolute;
        left: 149px;
        top: -44px;
    }
    

}


@media only screen and (max-width:1077px) {
    .graph-holder {
        width: 400px;
        height: 370px !important;
    }

    .graph-holder p {
        font-size: 20px;
    }

    .graph-holder h3 {
        font-size: 28px;
    }
    .graph-holder h4 {
        font-size: 74px;

    }

    .hand {
        width: 60px;
        right: 0x;
        bottom: 0px;
    
    }

    .graph {
        width:220px;
        left: 181px;
        bottom: 83px; 
        /* display: none; */
       
    }
    @keyframes moveGraph {
        0% {
            left: -318px;
            bottom: -318px;
            rotate: -240deg
        }
        40% {
            left: 181px;
            bottom: 83px;
            rotate: 0deg;
        }
        100% {
            left: 181px;
            bottom: 83px;
            rotate: 0deg;
        }
    }
    .thumb {
        width: 34px;
        right: 62px;
        bottom: 81px; 
    }
    .title {
        top: 0;
    }
    .num1 {
        left: 325px;
        top: 128px;
    }
    .line-1 {
        width: 63px;
        left: 110px;
    }
    
    .line-2a {
        width: 22px;
        left: 135px;
        top: 42px
    }
    .line-2b {
        width: 22px;
        height: 96px;
        left: 157px;
        top: -54px;
    }
    .line-3a {
        width: 40px;
        position: absolute;
        left: 110px;
        top: 42px
    }
    .line-3b {
        width: 28px;
        left: 149px;
        top: 42px;
    }
    .line-4a {
        border-top:  1px solid var(--dark-text);
        width: 15px;
        position: absolute;
        left: 135px;
        top: 42px
    }
    .line-4b {
        width: 28px;
        height: 85px;
        position: absolute;
        left: 149px;
        top: -44px;
    }
    

}

@media only screen and (max-width:872px) {
    .graphs {
        width: 100%;
        max-width: 400px;
        margin: 0 auto;
        padding-bottom: 15px;
        flex-direction: column;
    }

    .num1 {
        left: 290px
    }

    .graphs .graph-holder p {
        font-size: 18px !important;
    }


}