@import "./fonts.css";
@import "./carousel.css";

:root {
    --first: hsl(28, 68%, 95%);
    --first-tint: hsl(28, 68%, 90%);

    --second: hsl(57, 16%, 22%);
    --third: hsl(20, 85%, 82%);
    --fourth: hsl(192, 59%, 86%);
    --fifth: hsl(50, 97%, 72%);
    --sixth: hsl(127, 27%, 81%);

    --dark-text: hsl(345, 6%, 13%);
    --light-text: var(--first);
    --light-headline: var(--fourth);

    --test-outline: 1px solid pink;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 20px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 20px;
    line-height: 1.3em;
}

h2, h3 {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    line-height: normal;
}

.box , .intro .box {
    width: 1230px;
    height: 542px;
    margin: 0 auto;
    padding: 10px 0 0 20px;
    display: flex;
    background-image: url(../img/back.png);
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
}

header, .cream {
    background-color: var(--first);
}

header, footer {
    padding: 0 100px;
}

footer, .cream {
    background-image: none;
}

.info h2, .projects h2, .grants h2{
    font-family: "prestige-elite-std", monospace;
    font-size: 24px;
    text-transform: uppercase;
    margin: 50px 0;
}

/* ----- BACKGROUNDS ----- */

.brown, footer {
    background-color: var(--second);
}

.blue {
    background-color: var(--fourth);
}

.pink {
    background-color: var(--third);
    background-repeat: repeat-y;
}

.yellow {
    background-color: var(--fifth);
}

.green {
    background-color: var(--sixth);
}


/* ----- DONORS ------ */

.donors {
    padding-bottom: 50px;
}
.donors h3, .partners h3, .projects h3, .grants h3 {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 700;
}
.donors h3 {
    margin-right: 300px
} 

.donors .left {
    width: 625px;
}

.donors img {
    width:325px;
    margin: 75px auto 0;
}


/* EXEC */

.exec h3 {
    font-size: 18px;
    padding-bottom: 0;
    margin-bottom: 0;
} 

.more-less {
    background: none;
    padding: 0;
    margin:0;
    border: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    font-weight: 500;
}
.more-less:hover {
    text-decoration: none;
    cursor: pointer;
}

.message {
    overflow: hidden;
    height: 530px;
}

.exec__show {
    height: auto !important;
}

.ceo-pic, .chair-pic {
    padding-top: 90px;
    height: 413px;
    width: 520px;
    overflow: hidden;
}

.exec-pic {
    width: 100%;
}

.exec__quote {
    margin-top: 70px;
    display: flex;
    align-items: flex-start;
}

.exec__quote .quotemark {
    margin-right: 25px !important;
    line-height: .8em !important;
}


/* ----- FOOTER ----- */

footer {
    height: auto !important;
    padding: 50px 100px;
    margin-bottom: 20px;}

.health {
    width: 200px; 
    margin: 40px 0 80px;
}

.social {
    width: 35px;
    margin: 20px 10px 0 0 
}
    


footer .footer-box {
    width: 1230px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.footnote {
    font-size: 14px;
    margin-top: 40px;
}

footer .left {
    width: 515px;
    height: 100%;

}

footer h2 {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--light-text);
}

footer p {
    color: var(--light-text);
}

footer .right {
    width: 550px;
    margin: 50px 0 0;
    display: flex;
    align-items: end;
}

footer .right p {
    font-weight: 400;

}

footer .right .to-top p {
    font-family: "Arial Narrow", sans-serif;
    font-size: 84px;
    font-weight: 500;
    color: #D0D0CE;
    width: 100px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0;
    padding: 0;
    line-height: 45px;
}

footer .right .to-top a {
    text-decoration: none;
}

footer  a {  
    color: #D0D0CE;
}


/* ----- GRANTS ----- */

.grants .box {
    justify-content: space-between;
}

.grants .left {
    width: 540px;
    padding-right: 25px;
}
.grants .right {
    width: 580px;
    margin-top: 60px;
}
.grants img {
    width: 170px;
    margin: 0 50px 0 25px;
}
.grants h4 {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 10px;

}
.grants h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
}
.study {
    padding: 12px 0;
    border-bottom: 1px solid var(--second);
    overflow: hidden; 
    height: 138px;
}

.study h6 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 0 0;
    padding-bottom: 0;
}

.study p {
    margin-top: 0;
    padding-top: 0;
}

.study__quote {
    color: #2FABE1;
    font-weight: 500;
}
.study__impact {
    background-color: white;
    padding: 16px 8px;
    margin-bottom: 25px;
}
.study__impact h6, .study__impact ul {
    margin: 0;
    padding: 0;
}
.study__impact ul {
    margin-left: 18px;
}
.study__details {
    display: flex;
    padding: 5px;
    align-items: center;
    cursor: pointer;
    border-radius: 0;
    border: none;
    text-align: left;
    background: none;
    width: 100%;
}
.study__selected, .study__details:hover { 
    background-color: var(--first-tint);
}

.study__details h4 {
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.study__last {
    border-bottom: none !important;
    margin-bottom: 30px;
}

.study__show {
    height: auto !important;
}


/* ----- HEADER ----- */

header {
    padding-top: 0px !important;
}

header .box {
    padding-top: 0;
}

header h1, header h2, .quote p{
    font-family: "prestige-elite-std", monospace;
    font-style: normal;
    margin-left: 80px;
}

header h1  {
    font-weight: 700;
    font-size: 34px;
    line-height: normal;
}

header h2  {
    font-weight: 400;
    font-size: 24px;
    line-height: normal;
}

header .box {
    display: flex;
    padding: 0;
    margin: 0;
    justify-content: space-between;
}

header .box .left, header .box .right {
    display: block;
    width: 45%;
}

header img {
    width: 340px;
    height: auto;
}

.logo {
    width: 183px;
    margin: 50px 0;
}
nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0;
}
nav ul {
    list-style-type: none;
    display: flex;
    background-color: #fff;
    padding: 5px 10px;
    margin: 0 30px 0 0;   
    height: 20px;
}
nav ul li {
    padding: 0 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;

}
nav ul li a {
    color: #7F7F7F;
    text-decoration: none;
    font-weight: 400;
}

/* ----- INFO ----- */

.info p {
    font-weight: 300;
    margin-top: 0;
    padding-top: 0;
}
.info .left {
    width: 570px;
    margin-right: 30px;
}
.info .ceo {
    margin-top: 55px;
    margin-right: 0 !important;
}

.info .box, .grants .box {
    background: none;
    height: auto;
}

/* ----- INTRO ----- */

.intro {
    display: flex;
    padding-bottom: 0;
    align-items: flex-end;
}

.intro .box {
    align-items: flex-end;
}

.intro img {
    width: 430px;
    height: 473px;
}
.intro div {
    width: 55%;
    margin: 0 100px 110px 0;
}
.intro h2 {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 700;
}
.intro .footnote {
    font-size: 14px;

}

.light h2, .light p {
    font-family: 'Roboto', sans-serif;
    color: var(--light-headline);
    font-size: 34px;
    line-height: 1.3em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 0 80px;
    padding: 0;

}
.light h2 {
    margin-top: 20px;
}

/* ----- PARTNERS ----- */

.partners .left {
    width: 550px;
}

.partners img {
    width:300px;
    margin: 75px auto 0;
}


/* ----- PROJECTS ----- */

.projects {
    overflow: hidden;
}

.projects .box {
    flex-direction: column;
    height: auto;
}

.graphs {
    display: flex;
    margin-bottom: 50px;
}

.graphs .left, .graphs .right {
    width: 50%;

}
.graphs h4 {
    font-family: 'Gilroy', sans-serif;
    font-size: 34px;
    margin: 0;
    padding: 0;
}

.graphs img {
    margin: 0;
    padding: 0;
    width: 80%;
}

.year {
    width: 525px;
    margin: 0 0 25px 0;
}

/* ----- PROJECTS - CAROUSEL ----- */

.slider-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    /* overflow: hidden; */
    /* outline: 1px solid lightblue; */
}
  
.items-holder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    animation: moveSlideshow 60s linear infinite;
}

.items-holder:hover {
    animation-play-state: paused;
}

@keyframes moveSlideshow {
    100% { 
        transform: translateX(-70%);  
    }
}

.items {
    display: flex;
    align-items: top;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 20px 0;
}

.item {
    width: 275px;
    border-left: solid 1px var(--first);
    text-align: center;
}

.item img {
    width:80%;
    margin-bottom: 25px;
}

.item p {
    font-size: 20px;
    font-weight: 300;
    text-align: center;
    margin: 0 10px 5px;
}

/* ----- QUOTE ----- */

.quote {
    background-repeat: no-repeat;
    background-size: 1230px;
    background-position-x: center;
    display: flex;
}
.quote p {
    font-size: 20px;
    font-weight: 400;
    padding: 0;
    margin: 0;
}
.quote .credit {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: 5px;
}
.quotemark, .quote .quotemark {
    font-family: "archivo-black", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 178px;
    line-height: normal;
    padding: 0;
    margin: 0;
}
.quote img {
    margin: auto;
}

.quote .right {
    display: flex;
    margin-bottom: 85px;
}

.quote .right div {
    margin: 50px 80px 0 0;
    padding: 0 40px 0 20px;
}

.quote .right div p {
    margin-left: 0;
}

.yellow .box  img {
    height: 100%;
    width: auto;
    margin-right: 100px;
}

.green .box img {
    height: 80%;
    width: auto;
    margin-right: 100px;
}
.blue .box img {
    height:90%;
    width: auto;
    margin-right: 100px;
}

.green .box .right {
    margin-right: 0;
}

.quote .box .credit {
    margin-top: 30px;
}