@import "./fonts.css";
@import "./carousel.css";
@import "./graphs.css";

:root {
    --first: hsl(28, 68%, 95%);
    --first-tint: hsl(28, 68%, 90%);

    --second: hsl(57, 16%, 22%);
    --third: hsl(20, 85%, 82%);
    --fourth: hsl(192, 59%, 86%);
    --fifth: hsl(50, 97%, 72%);
    --sixth: hsl(127, 27%, 81%);

    --dark-text: hsl(345, 6%, 13%);
    --light-text: var(--first);
    --light-headline: var(--fourth);

    --test-outline: 1px solid pink;
}

html {
    scroll-behavior: smooth;
}

body {
    margin: 20px;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-weight: 300;
    font-size: 20px;
    line-height: 1.3em;
    width: 100%;
}

h2, h3 {
    font-family: "Gilroy", sans-serif;
    font-weight: 700;
    line-height: normal;
}

a {
    color: var(--dark-text);
    font-weight: 500;
}
a:hover {
    text-decoration: none;
}

sup {
    font-size: 0.75em; 
    vertical-align: baseline; 
    position: relative; 
    top: -0.39em;
}

.mobile {
    display: none !important;
}

.desktop {
    display: block;
}

.box, .intro .box {
    width: 1230px;
    height: 542px;
    margin: 0 auto !important;
    padding: 10px 0 0 20px;
    display: flex;
    background-image: url(../img/back.png);
    background-size: cover;
    background-blend-mode: color-burn;
    background-repeat: no-repeat;
    
}

header, .cream {
    background-color: var(--first);
}


footer, .cream {
    background-image: none;
}

.info h2, .projects h2, .grants h2{
    font-family: "prestige-elite-std", monospace;
    font-size: 24px;
    text-transform: uppercase;
    margin: 50px 0;
}

/* ----- BACKGROUNDS ----- */

.brown, footer {
    background-color: var(--second);
}

.blue {
    background-color: var(--fourth);
}

.pink {
    background-color: var(--third);
    background-repeat: repeat-y;
}

.yellow {
    background-color: var(--fifth);
}

.green {
    background-color: var(--sixth);
}


/* ----- DONORS ------ */

.donors {
    padding-bottom: 50px;
    margin-top: 20px;
}
.donors h3, .projects h3, .grants h3 {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 700;
}
.donors h3 {
    margin-right: 300px
} 

.donors .left {
    width: 625px;
}

.donors img {
    height: 415px;
    width: auto;
    margin: 75px auto 0;
}


/* ----- EXEC ----- */
.exec {
    margin-top: 20px;
    padding-bottom: 25px;
}

.exec h3 {
    font-size: 20px;
    padding-bottom: 0;
    margin-bottom: 0;
} 

.quote {
    margin-top: 20px;
}

.more-less {
    background: none;
    padding: 0;
    margin: 15px 0 0;
    border: none;
    font-size: 18px;
    font-family: 'Roboto', sans-serif;
    text-decoration: underline;
    font-weight: 500;
}
.more-less:hover {
    text-decoration: none;
    cursor: pointer;
}

.message {
    overflow: hidden;
    height: 530px;
}

.exec__show {
    height: auto !important;
}

.ceo-pic, .chair-pic {
    padding-top: 90px;
    height: 413px;
    width: 520px;
    overflow: hidden;
}

.exec-pic {
    width: 100%;
}

.exec__name {
    margin: 35px 0 50px !important;
}

.exec__quote {
    margin-top: 70px;
    display: flex;
    align-items: flex-start;
}

.exec__quote .quotemark {
    margin-right: 25px !important;
    line-height: .8em !important;
}

.exec__quote .quotemark_fr {
    margin-right: 25px !important;
    line-height: .44em !important;
}


/* ----- FOOTER ----- */

footer {
    height: auto !important;
    padding: 50px 100px;
    margin: 20px 0;
}

.health {
    width: 200px; 
    margin: 40px 0 80px;
}

.social {
    width: 35px;
    margin: 20px 10px 0 0 
}
    


footer .footer-box {
    width: 1230px;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;

}

.footnote {
    font-size: 14px;
    margin-top: 40px;
}

footer .left {
    width: 515px;
    height: 100%;

}

footer h2 {
    font-size: 34px;
    text-transform: uppercase;
    font-weight: 700;
    color: var(--light-text);
}

footer p {
    color: var(--light-text);
}

footer .right {
    width: 550px;
    margin: 50px 0 0;
    display: flex;
    align-items: end;
}

footer .right p {
    font-weight: 400;

}

footer .right .to-top p {
    font-family: "Arial Narrow", sans-serif;
    font-size: 84px;
    font-weight: 500;
    color: #D0D0CE;
    width: 100px;
    text-align: right;
    display: flex;
    flex-direction: column;
    align-items: end;
    margin: 0;
    padding: 0;
    line-height: 45px;
}

footer .right .to-top a {
    text-decoration: none;
}

footer  a {  
    color: #D0D0CE;
}


/* ----- GRANTS ----- */

.grants {
    margin-top: 20px;
}

.grants .box {
    justify-content: space-between;
    margin: 0 auto;
}

.grants .left {
    width: 580px;
    padding-right: 25px;
}
.grants .right {
    width: 580px;
    margin-top: 60px;
}
.grants img {
    width: 170px;
    margin: 0 50px 0 25px;
}
.grants h4 {
    text-align: center;
    padding-bottom: 0;
    margin-bottom: 10px;

}
.grants h5 {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase;
}
.study {
    padding: 12px 0;
    border-bottom: 1px solid var(--second);
    overflow: hidden; 
    height: 138px;
}

.study h5 {
    text-transform: none !important;
}

.study h6 {
    font-size: 20px;
    font-weight: 500;
    margin: 10px 0 0 0;
    padding-bottom: 0;
}

.study p {
    margin-top: 7px;
    padding-top: 0;
}

.study__quote {
    color: #2FABE1;
    font-weight: 500;
    margin-top: 40px !important;
    margin-bottom: 20px;
    padding-bottom: 0;
}
.study__quote-credit {
    margin-bottom: 40px;
}
.study__impact {
    background-color: white;
    padding: 16px 8px;
    margin-bottom: 25px;
}
.study__impact h6, .study__impact ul {
    margin: 0;
    padding: 0;
}
.study__impact ul {
    margin-left: 18px;
}
.study__details {
    display: flex;
    padding: 5px;
    align-items: center;
    cursor: pointer;
    border-radius: 0;
    border: none;
    text-align: left;
    background: none;
    width: 100%;
}
.study__selected, .study__details:hover { 
    background-color: var(--first-tint);
}

.study__details h4 {
    text-align: left;
    font-size: 12px;
    font-weight: 300;
    margin: 0;
    padding: 0;
}

.study__last {
    border-bottom: none !important;
    margin-bottom: 20px;
}

.study__show {
    height: auto !important;
}


/* ----- HEADER ----- */

header {
    padding-top: 0px !important;
}

header .box {
    background-image: url(../img/back.png) !important;

}

header h1, header h2, .quote p{
    font-family: "prestige-elite-std", monospace;
    font-style: normal;
    margin-left: 80px;
}

header h1  {
    font-weight: 700;
    font-size: 34px;
    line-height: normal;
}

header h2  {
    font-weight: 400;
    font-size: 24px;
    line-height: normal;
}

header .box {
    display: flex;
    padding: 0;
    justify-content: space-between;
}

header .box .left, header .box .right {
    display: block;
    width: 45%;
}

header img {
    width: 340px;
    height: auto;
}

.logo {
    width: 183px;
    margin: 50px 0;
}
nav {
    display: flex;
    justify-content: flex-end;
    width: 100%;
    margin-top: 0;
}
nav ul {
    list-style-type: none;
    display: flex;
    background-color: #fff;
    padding: 10px;
    margin: 0 30px 0 0;   
    height: 20px;
}
nav ul li {
    padding: 0 5px;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 500;
    padding: 0 10px;

}
nav ul li a {
    color: #7F7F7F;
    text-decoration: none;
    font-weight: 400;
}

nav ul li a:hover {
    color: var(--second);
    text-decoration: underline;
}

/* ----- INFO ----- */

.info p {
    margin-top: 0;
    padding-top: 0;
}
.info .left {
    width: 570px;
    margin-right: 30px;
}
.info .ceo {
    margin-top: 55px;
    margin-right: 0 !important;
}

.info .box, .grants .box {
    background: none;
    height: auto;
}

/* ----- INTRO ----- */



.intro {
    display: flex;
    padding-bottom: 0;
    align-items: flex-end;
    margin-top: 20px;
}

.intro .box {
    align-items: flex-end;
}

.intro img {
    width: 430px;
    height: auto;
    margin-right: 110px;

}
.intro div {
    width: 55%;
    margin: 0 100px 110px 0;
}
.intro h2, .intro p {
    font-family: 'Gilroy', sans-serif;
    color: var(--light-headline);
    font-size: 34px;
    line-height: 1.3em;
    text-transform: uppercase;
    font-weight: 700;
    margin: 0 0 0 80px;
    padding: 0;

}
.intro h2 {
    font-size: 36px;
    line-height: 1.3em;
    font-weight: 900;
    letter-spacing: 0.1em;
}
.intro .footnote {
    font-size: 14px;

}

.intro h2 {
    margin-top: 20px;
}

/* ----- PROJECTS ----- */

.projects {
    overflow: hidden;
    margin-top: 20px;
}

.projects .box {
    flex-direction: column;
    height: auto;
}

.year {
    width: 625px;
    margin: 0 0 25px 0;
}

sup {
    font-size: 0.75em; 
    vertical-align: baseline; 
    position: relative; 
    top: -0.39em;
}

/* ----- PROJECTS - CAROUSEL ----- */



.slider-wrapper {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    width: 100%;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    overflow: visible;
    
}
  
.items-holder {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    animation: moveSlideshow 60s linear infinite;

}

.items-holder:hover {
    animation-play-state: paused;
}

@keyframes moveSlideshow {
    100% { 
        transform: translateX(-70%);  
    }
}

.items {
    display: flex;
    align-items: top;
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 auto;
    -ms-flex: 0 0 auto;
    flex: 0 0 auto;
    padding: 20px 0;
}

.item {
    width: 275px;
    border-left: solid 1px var(--first);
    text-align: center;
}

.item img {
    width:80%;
    margin-bottom: 25px;
}

.item p {
    font-weight: 300;
    text-align: center;
    margin: 0 10px 5px;
}

/* ----- QUOTE ----- */

.name {
    font-weight: 400;
}

.quote {
    background-repeat: no-repeat;
    background-size: 1230px;
    background-position-x: center;
    display: flex;
}
.quote p {
    font-size: 22px;
    font-weight: 700;
    padding: 0;
    margin: 0;
}
.quote .credit {
    font-family: 'Roboto', sans-serif;
    font-weight: 200;
    font-size: 20px;
    margin-top: 5px;
}
.quote .quotemark, .quote .quotemark_fr {
    font-family: "archivo-black", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 178px;
    line-height: normal;
    padding: 0;
    margin: 0;
}

.quote .quotemark_fr {
    line-height: 1em;
}
.quote img {
    margin: auto;
}

.quote .right {
    display: flex;
    margin-bottom: 85px;
}

.quote .right div {
    margin: 50px 80px 0 0;
    padding: 0 40px 0 20px;
}

.quote .right div p {
    margin-left: 0;
}

.yellow .box  img {
    height: 100%;
    width: auto;
    margin-right: 100px;
}

.green .box img {
    height: 80%;
    width: auto;
    margin-right: 100px;
}
.blue .box img {
    height:90%;
    width: auto;
    margin-right: 100px;
}

.green .box .right {
    margin-right: 0;
}

.quote .box .credit {
    margin-top: 30px;
}

@media only screen and (max-width:1368px) {
    body {
        margin: 15px;
        font-size: 16px;
    }
    .box, .intro .box {
        width: 1024px;
        height: 451px;
        overflow: hidden;
        background-size: 1024px auto;
    }
    
    .info h2, .projects h2, .grants h2{
        font-size: 20px;
        margin: 40px 0 25px;
    }
    
    /* ----- DONORS ------ */
    .donors {
        margin-top: 15px;
    }
    .donors h3, .projects h3, .grants h3 {
        font-size: 26px;
    }
    .donors h3 {
        margin-right: 300px
    } 
    
    .donors .left {
        width: 490px;
    }

    .donors img {
        width:255px;
        height: auto;
        margin: 75px auto 0;
    }

    /* ----- EXEC ----- */
    .exec {
        margin-top: 15px;
    }

    .exec h3 {
        font-size: 16px;
    } 

    .more-less {
        font-size: 16px;
    }
    .message {
        overflow: hidden;
        height: 440px;
    }
    .ceo-pic, .chair-pic {
        height: 381px;
        width: 480px;
    }
    .exec__quote .quotemark {
        margin-right: 10px !important;
        line-height: .75em !important;

    }

    /* ----- FOOTER ----- */

    footer {
        padding: 30px 100px;
        margin: 15px 0;
    }
    footer .footer-box {
        width: 1024px;
    }

    .footnote {
        font-size: 12px;
        margin-top: 30px;
    }

    footer .left {
        width: 440px;    
    }
    footer .right {
        width: 450px;
    }

    /* ----- GRANTS ----- */

    .grants {
        margin-top: 15px;
    }

    .grants .left {
        width: 460px;
    }

    .grants .right {
        width: 480px;
    }

    .grants img {
        width: 140px;
        margin: 0 30px 0 15px;
    }
    .grants h5 {
        font-size: 20px;
    }
    .study {
        height: 105px;
        padding: 6px 0 10px;
    }
    .study h6 {
        font-size: 16px;
    }
    .study__details {
        padding: 2px;
    }

    /* ----- HEADER ----- */

    header img {
        width: 270px;
    }

    nav ul {

        padding: 5px;

    }

    /* ----- INTRO ----- */

    .intro {
        margin-top: 15px;
    }
    .intro img {
        width: 350px;
        margin-right: 30px;
    }
    .intro h2, .intro p {
        font-size: 28px;
    }

    .intro h2 {
        margin-top: 20px;
    }

    .quote {
        margin-top: 15px;
    }


    /* ----- PROJECTS ----- */

    .projects {
        margin-top: 15px;
    }

    /* .slider-wrapper {
        overflow: visible;
    } */


    .item {
        width: 225px;
    }



    /* ----- QUOTE ----- */

    .quote p {
        font-size: 18px;
    }

    .quotemark, .quote .quotemark {
        font-size: 140px;
        line-height: 1.45em;

    }

    .quote .credit {
        font-size: 16px;

    }

    .year {
        width: 520px;
    }




}


@media only screen and (max-width:1077px) {

    .box , .intro .box {
        width: 860px;
        height: 379px;
        overflow: hidden;
        background-size: 860px auto;
    }
    
    .info h2, .projects h2, .grants h2{
        font-size: 20px;
        margin: 40px 0 25px;
    }
    


    /* ----- DONORS ------ */

    .donors h3 {
        margin-right: 220px
    } 
    
    .donors .left {
        width: 420px;
    }


    /* ----- EXEC ----- */
    .exec {
        margin-top: 15px;
    }

    .exec .left, .exec .right {
        width: 45%;
    }

    .exec h3 {
        font-size: 16px;
    } 

    .more-less {
        font-size: 16px;
    }
    .message {
        overflow: hidden;
        height: 310px;
    }
    .ceo-pic, .chair-pic {
        height: 285px;
        width: 380px;
    }
    .exec__quote .quotemark {
        margin-right: 10px !important;
        line-height: .75em !important;

    }

    /* ----- FOOTER ----- */

    footer {
        padding: 30px 100px;
        margin: 15px 0;
    }
    footer .footer-box {
        width: 1024px;
    }

    .footnote {
        font-size: 12px;
        margin-top: 30px;
    }

    footer .left {
        width: 440px;    
    }
    footer .right {
        width: 450px;
    }

    /* ----- GRANTS ----- */

    .grants {
        margin-top: 15px;
    }


    .grants .box {
        overflow: hidden;
        width: 800px;


    }

    .grants .left {
        width: 370px;
        margin-right: 5px ;
    }

    .grants .right {
        width: 380px;
        margin-left: 0 !important;

    }

    .grants img {
        width: 100px;
        margin: 0 30px 0 15px;
    }
    .grants h5 {
        font-size: 18px;
    }
    .study {
        height: 80px;
        padding: 6px 0 10px;
    }
    .study h6 {
        font-size: 16px;
    }
    .study__details {
        padding: 2px;
    }

    /* ----- HEADER ----- */

    header img {
        width: 270px;
    }

    nav ul {

        padding: 5px;

    }
    header h1 { 
        font-size: 24px;
    }

    header h2 {
        font-size: 20px;
    }

    /* ----- INTRO ----- */

    .intro {
        margin-top: 15px;
    }
    .intro img {
        width: 275px;
        margin-right: 30px;
    }
    .intro h2, .intro p {
        font-size: 22px;
    }

    .intro h2 {
        margin-top: 20px;
    }

    .quote {
        margin-top: 15px;
    }


    /* ----- PROJECTS ----- */

    .projects {
        margin-top: 15px;
    }

    .slider-wrapper {
        overflow: visible;
    }


    .item {
        width: 225px;
    }



    /* ----- QUOTE ----- */

    .quote p {
        font-size: 16px;
    }

    .quotemark, .quote .quotemark {
        font-size: 130px;
        line-height: 1.45em;

    }

   

    .quote img {
        margin: auto 25px !important; 
   
    }
    .quote .right {
        width: 50%;
        margin: 0 !important;
    }
    .quote .right div {
        margin: 50px 0 0;
        padding: 0;
    }
    .quote .credit {
        font-size: 16px;

    }

    .year {
        width: 520px;
    }


}

@media only screen and (max-width:872px) {

    body {
        margin: 0;
    }

    .mobile {
        display: flex !important;
    }
    
    .desktop {
        display: none;
    }


    .box, .footer-box {
        flex-direction: column;
        align-items: center;
        justify-content: center;
        width: 100%;
        padding: 0;
        height: auto;

    }
    
    .left, .right {
        margin:  10px 0 0 !important;
        width: 325px !important;
        /* max-width: 375px !important; */
    }


    .info h2, .projects h2, .grants h2{
        font-size: 20px;
        margin: 40px 0 25px;
    }
    
    /* ----- DONORS ------ */

    .donors h3 {
        margin-right: 0;
    } 
    
    .donors .left {
        max-width: 400px;
    }

    .donors img {
        margin-top: 30px;
    }



    /* ----- EXEC ----- */

    .exec .box .left {
        margin-bottom: 0 !important;
        width: 90%;
        max-width: 400px;
    }

    .exec__name {
        margin-bottom: 0 !important;
    }

    .exec-pic {
        margin: 0 auto 30px;
        width: 95%;
        max-width: 400px;
    }

    .exec__quote {
        display: flex;
        margin: 30px 0 !important;
        width: 99% !important;
        padding: 0
    }

    .exec__quote .quotemark,  .exec__quote .quotemark_fr {
        width: 40px !important; 
        font-size: 83px !important;
        line-height: 0.8em !important;
    }

    .exec__quote .quotemark_fr {
        line-height: 0.5em !important;
    }

    
    .ceo-pic, .chair-pic {
        display: none;
    }

    .more-less {
        display: none;
    }
    
    .message {
        height: auto;
    }
    

    /* ----- FOOTER ----- */

    footer {
        padding: 30px 0px !important;
        margin: 15px 0;
    }

    .footer-box {
        margin: 0 !important;
        width: 100% !important;
    }

    .footnote {
        font-size: 12px;
        margin-top: 30px;
    }

    footer .left, footer .right {
        width: 100% ;
        max-width: 400px ; 
        margin: 0;
    }

    .health {
        margin-bottom: 10px;
    }

    /* ----- GRANTS ----- */


    .grants {
        margin-top: 15px;
    }


    .grants .box {
        width: 100% !important;
        max-width: 400px !important;
    }

    .grants .left, .grants .right {
        padding: 0 !important;
    }

    .line {
        border-top: solid white 15px;
        width: 100%;
        margin-bottom: 35px;
        position: absolute;
        left:0;
        transform: translateY(-270%);
    }

    .grants img {
        width: 100px;
        margin: 10px auto 20px;
    }
    .grants h4 {
        font-size: 18px;
        color: var(--dark-text) !important;
        margin-top: 50px !important;

    }
    .study__details h4 {
        margin: 0 !important;
    }
    .grants h5 {
        font-size: 22px;
        color: var(--dark-text) !important;
        margin-bottom: 25px;

    }
    .study {
        height: 280px;
        padding: 6px 0 10px;
    }
    .study-fr {
        height: 308px;
    }
    .study h6 {
        font-size: 16px;
    }
    .study__details {
        padding: 2px 2px 2px 15px;
        display: flex;
        flex-direction: column;
    }

    .study__details img {
        width: 200px;
        height: auto;
    }

    /* ----- HEADER ----- */

    body, html {
        overflow-x: hidden !important;
        margin: 0 !important;
        padding: 0 !important;
    }

    header {
        overflow-x: hidden !important;

    }


    header .box .left {
        display: flex;
        flex-direction: column;
        width: 325px;

    }

    header .box {
        justify-content: center;
        align-items: center;
    }


    header img {
        width: 300px;
        display: block;
        margin: 0 auto 40px;
    }


    header h1 {
        margin: 70px 0 0 0;
        font-size: 26px;
        text-align: left;
        padding-bottom: 0;
    }

    header h2 {
        font-size: 22px;
        text-align: left;
        margin: 5px 0 40px;
        padding: 0;
    }

    nav {
        position: absolute;
        top: 0;
        right: 0;
    }

    nav ul {
        margin-right: 15px;
    }

    .logo {
        margin: 55px 0 0 !important;

    }


    /* ----- INTRO ----- */

    .intro {
        margin-top: 15px;
        height: auto;
    }

    .intro .box {
        overflow: visible;
        height: auto;
    }

    .intro img {
        width: 250px;
        margin: 60px auto 0;
    }
    .intro h2, .intro p {
        font-size: 22px;
        margin: 0;
    }

    .intro h2 {
        margin-top: 20px;
    }

    .exec__quote {
        margin: 15px 20px 0;
        width:90%;
        max-width: 400px;
    }


    /* ----- PROJECTS ----- */

    .projects .box {
        overflow: hidden;
    }

    .year {
        padding-bottom: 0 !important;
        margin-bottom: 0;
    }

    .year p {
        margin-bottom: 0;
        padding-bottom: 0;
    }

    .link-text {
        margin: 35px 25px 45px !important;
        display: block !important;


    }

    .slider-wrapper {
        overflow: visible;
    }


    .item {
        width: 225px;
    }



    /* ----- QUOTE ----- */

    .quote .box {
        flex-direction: column-reverse;
    }

    .quotemark, .quotemark_fr {
        font-size: 90px !important;
    }
   
    .quote .quotemark {
        line-height: 1.9em;
        margin-right: 10px;
    }

    .quote .quotemark_fr {
        line-height: 1.6em;
        margin-right: 11px;
        
    }

    .quote img {
        margin: 20px 25px; 
        width: 250px !important;
    }

    .quote .green img, .quote .blue img {
        margin: 45px auto !important;
    }
    .quote .right {
        width: 80%;
        max-width: 400px;
        margin: 0 !important;

    }
    .quote .right div {
        margin: 50px 0 0;
        padding: 0;
    }
    .quote .credit {
        font-size: 16px;

    }

    .year {
        width: 90%;
        max-width: 400px;
    }




}